a, button, ul, li, input, p, b {
  all: unset;
}

#bgGradient {
  width: 100%;
  height: -webkit-fill-available;
  height: -webkit-fill-available;
  background: linear-gradient(107.56deg, #020024 0%, #1155C4 69.79%, #00D4FF 100%);
  position: absolute;
  z-index: -7;
}

#bgImage {
  width: 100%;
  height: -webkit-fill-available;
  height: -webkit-fill-available;
  background: url("../imgs/bgblur.png");
  background-size: cover;
  position: absolute;
  opacity: 0.3;
  z-index: -6;
}

#bgPlayer {
  height: 800px;
  position: absolute;
  right: 0;
  bottom: 0;
  filter: hue-rotate(-10deg);
  z-index: -5;
}

#bgTexture {
  position: absolute;
  height: -webkit-fill-available;
  height: -webkit-fill-available;
  width: 100%;
  background-image: repeating-linear-gradient(223deg, rgba(0, 0, 0, 0.5764705882), rgba(0, 0, 0, 0.5764705882) 1px, transparent 1px, transparent 5px);
  background-size: 30px;
  opacity: 0.3;
  z-index: -6;
}

.buttonTexture {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: repeating-linear-gradient(223deg, rgba(255, 255, 255, 0.5764705882), rgba(255, 255, 255, 0.5764705882) 3px, transparent 4px, transparent 9px);
  background-size: 20px;
  opacity: 0.04;
  top: 0;
}

#topBar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 7;
  top: 0;
  height: 70px;
  width: 100%;
  background: linear-gradient(-90.02deg, rgba(2, 0, 36, 0.0784313725) 0.67%, rgba(241, 85, 196, 0.0784313725) 50.28%, rgba(9, 212, 255, 0.0784313725) 76.27%);
  -webkit-backdrop-filter: blur(120px);
          backdrop-filter: blur(120px);
}
#topBar #logo {
  color: white;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#topBar ul {
  display: flex;
  justify-content: flex-end;
}
#topBar ul li {
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 300;
  color: white;
  padding: 0 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.1s ease-in-out;
}
#topBar ul li:hover {
  transition: all 0.1s ease-in-out;
  background: rgba(9, 212, 255, 0.1411764706);
}
#topBar ul li::before {
  position: relative;
  content: "";
  background: rgba(255, 255, 255, 0.2);
  width: 5px;
  border-radius: 100%;
  right: 40px;
  height: 40px;
}
#topBar ul .liAlternative {
  transition: all 0.2s ease-in-out;
  background: linear-gradient(92.67deg, rgba(0, 255, 87, 0.2901960784) 2.2%, rgba(17, 85, 196, 0.2901960784) 65.81%, rgba(0, 212, 255, 0.2901960784) 98.82%);
}

.buttonPrimary {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 70px;
  margin: 10px 0;
  font-size: 0.8rem;
  background: linear-gradient(90.44deg, #36701C 7.89%, #1155C4 31.7%, #00D4FF 50%);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 200% 200%;
}
.buttonPrimary:hover, .buttonPrimary:hover .buttonTexture {
  transition: all 0.3s ease-in-out;
  background-position-x: 30%;
}

.buttonAlternativeBorder {
  width: 100%;
  margin-top: 50px;
  font-size: 0.8rem;
  background: linear-gradient(90.44deg, #00FF57 7.89%, #1155C4 31.7%, #00D4FF 50%);
  background-repeat: repeat-x;
  border-radius: 12px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-size: 200% 200%;
}
.buttonAlternativeBorder:hover {
  -webkit-animation: buttonAnimationBorder 3s linear infinite;
          animation: buttonAnimationBorder 3s linear infinite;
  transform: scale(1.03);
}
.buttonAlternativeBorder .buttonAlternativeBackground {
  background-color: #080A23;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonAlternativeBorder .buttonAlternativeBackground:hover .buttonAlternative {
  -webkit-animation: buttonAnimationText 3s linear infinite;
          animation: buttonAnimationText 3s linear infinite;
  transition: all 0.7s ease-in-out;
  filter: brightness(1.2);
}
.buttonAlternativeBorder .buttonAlternativeBackground .buttonAlternative {
  padding: 7px;
  background: -webkit-linear-gradient(180deg, #42D500 7.85%, #035EF3 26.91%, #00D4FF 42.63%);
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 100%;
  transition: all 0.5s ease-in-out;
  background-size: 200% 200%;
}

.line-gradient {
  width: 100%;
  height: 3px;
  background: -webkit-linear-gradient(0deg, #020024 0%, #1155c4 36.91%, #00D4FF 50%);
  transition: all 0.2s ease-in-out;
  background-size: 200% 50%;
}

.fontGradient {
  background: linear-gradient(145.72deg, #00FF57 50%, #00C4DF 67.55%, #1155C4 89.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal {
  overflow: hidden;
  background: #080A23;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  box-shadow: "0 0 30px 10px #0002";
  color: white;
}
.modal .modalImageContainer {
  position: relative;
  width: 50%;
  height: 100%;
  color: white;
}
.modal .modalImageContainer img {
  width: 100%;
  height: 100%;
}
.modal .modalImageContainer .modalImageText {
  width: 100%;
  text-align: center;
  letter-spacing: 7px;
  font-size: 1.4rem;
  font-weight: 300;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.modal .modalImageContainer .modalImageText .modalImageB {
  font-size: 1.3rem;
  font-weight: 600;
}
.modal .modalImageContainer .modalImageText .modalImageTextTop {
  width: 100%;
}
.modal .modalImageContainer .modalImageText .modalImageTextBottom {
  width: 80%;
}
.modal .modalFormContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.modal .modalFormContainer .modalTitle {
  text-align: left;
  margin-bottom: 30px;
}
.modal .modal-match {
  width: 80%;
}
.modal .modal-match .modal-match-description {
  font-size: 0.5rem;
}
.modal .modal-match .modal-match-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.modal .modal-match .modal-match-buttons-container .buttonAlternativeBorder {
  margin: 0;
}
.modal .modal-match .modal-match-buttons-container .buttonPrimary {
  margin: 0;
}

.input-text {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.input-text input {
  width: 100%;
  color: #fff;
  font-size: 0.6rem;
  padding: 5px;
}
.input-text input:focus + .line-gradient {
  background-position-x: 50%;
  transition: all 0.2s ease-in-out;
}

.forgot-pass-button {
  width: 100%;
  font-size: 0.5rem;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}
.forgot-pass-button:hover {
  transform: scale(1.07);
  transition: all 0.1s ease-in-out;
}

.matches-container {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  min-width: 400px;
  width: 100%;
  height: calc(100% - 300px);
  overflow-y: auto;
}
.matches-container .match-container {
  min-width: 400px;
  width: 50%;
  height: 150px;
  background: #080A23;
  border-radius: 10px;
  display: flex;
  position: relative;
  box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.2666666667);
  transition: 0.1s ease-in-out all;
}
.matches-container .match-container:hover {
  transition: 0.1s ease-in-out all;
  transform: scale(1.04);
}
.matches-container .match-container .match-element-image {
  width: 250px;
  height: 100%;
  cursor: pointer;
}
.matches-container .match-container .match-element-image img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.matches-container .match-container .match-element-details {
  color: #fff;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.2;
}
.matches-container .match-container .match-element-details .match-element-details-small {
  color: #777;
  font-size: 0.5rem;
}
.matches-container .match-container .match-element-button {
  position: absolute;
  width: 200px;
  height: 50px;
  right: 30px;
  bottom: 5px;
}
.matches-container .match-container .match-element-button .buttonAlternativeBorder {
  position: absolute;
  margin: 0;
}
.matches-container .match-container .match-element-button .buttonPrimary {
  margin: 0;
  position: absolute;
}

.ReactModal__Overlay {
  z-index: 9;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1333333333);
  transform: translate(-50%, 100%) !important;
  transition: transform 400ms ease-in-out;
}

.ReactModal__Content--after-open {
  transform: translate(-50%, -50%) !important;
}

.ReactModal__Content--before-close {
  transform: translate(-50%, 100%) !important;
}

.welcomeText {
  width: 700px;
  padding-left: 7%;
  gap: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  height: -webkit-fill-available;
  letter-spacing: 2px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgotBackArrow {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20px;
  top: 20px;
  transition: transform 100ms ease-in-out;
}
.forgotBackArrow:hover {
  transition: transform 100ms ease-in-out;
  transform: scale(1.2);
}
.forgotBackArrow img {
  width: 50px;
  height: 50px;
}

@-webkit-keyframes buttonAnimationBorder {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 200%;
  }
}

@keyframes buttonAnimationBorder {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 200%;
  }
}
@-webkit-keyframes buttonAnimationText {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: -100%;
  }
}
@keyframes buttonAnimationText {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: -100%;
  }
}/*# sourceMappingURL=main.css.map */