a, button, ul, li, input, p, b {
  all: unset;
}

#bgGradient {
  width: 100%;
  height: 100vh;
  background: linear-gradient(107.56deg, #020024 0%, #1155C4 69.79%, #00D4FF 100%);
  position: absolute;
  z-index: -7;
}

#bgImage {
  width: 100%;
  height: 100vh;
  background: url("../imgs/bgblur.png");
  background-size: cover;
  position: absolute;
  opacity: 0.3;
  z-index: -6;
}

#bgPlayer {
  height: 800px;
  position: absolute;
  right: 0;
  bottom: 0;
  filter: hue-rotate(-10deg);
  z-index: -5;
}

#topBar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  height: 70px;
  width: 100%;
  background: linear-gradient(-90.02deg, rgba(2, 0, 36, 0.0784313725) 0.67%, rgba(241, 85, 196, 0.0784313725) 50.28%, rgba(9, 212, 255, 0.0784313725) 76.27%);
  -webkit-backdrop-filter: blur(120px);
          backdrop-filter: blur(120px);
}
#topBar #logo {
  color: white;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#topBar ul {
  display: flex;
  justify-content: flex-end;
}
#topBar ul li {
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 300;
  color: white;
  padding: 0 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.1s ease-in-out;
}
#topBar ul li:hover {
  transition: all 0.1s ease-in-out;
  background: rgba(9, 212, 255, 0.1411764706);
}
#topBar ul li::before {
  position: relative;
  content: "";
  background: rgba(255, 255, 255, 0.2);
  width: 5px;
  border-radius: 100%;
  right: 40px;
  height: 40px;
}
#topBar ul .liAlternative {
  transition: all 0.1s ease-in-out;
  background: linear-gradient(92.67deg, rgba(0, 255, 87, 0.2901960784) 2.2%, rgba(17, 85, 196, 0.2901960784) 65.81%, rgba(0, 212, 255, 0.2901960784) 98.82%);
}

.buttonPrimary {
  text-align: center;
  color: white;
  width: 100%;
  height: 70px;
  margin: 10px 0;
  font-size: 0.8rem;
  background: linear-gradient(90.44deg, #36701C 7.89%, #1155C4 31.7%, #00D4FF 50%);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 200% 200%;
}
.buttonPrimary:hover {
  transition: all 0.3s ease-in-out;
  background-position-x: 30%;
}

.buttonAlternativeBorder {
  width: 100%;
  height: 70px;
  margin-top: 50px;
  font-size: 0.8rem;
  background: linear-gradient(90.44deg, #00FF57 7.89%, #1155C4 31.7%, #00D4FF 50%);
  border-radius: 12px;
  padding: 4px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-size: 200% 200%;
}
.buttonAlternativeBorder:hover {
  transition: all 0.7s ease-in-out;
  background-position-x: 30%;
}
.buttonAlternativeBorder .buttonAlternativeBackground {
  background-color: #080A23;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonAlternativeBorder .buttonAlternativeBackground .buttonAlternative {
  padding: 7px;
  background: -webkit-linear-gradient(180deg, #42D500 7.85%, #035EF3 26.91%, #00D4FF 42.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 100%;
  transition: all 0.5s ease-in-out;
  background-size: 200% 200%;
}
.buttonAlternativeBorder .buttonAlternativeBackground .buttonAlternative:hover {
  transition: all 0.7s ease-in-out;
  background-position-x: -80%;
  filter: brightness(1.2);
}

.lineGradient {
  width: 100%;
  height: 3px;
  background: -webkit-linear-gradient(0deg, #020024 0%, #1155c4 36.91%, #00D4FF 50%);
  transition: all 0.2s ease-in-out;
  background-size: 200% 50%;
}

.fontGradient {
  background: linear-gradient(145.72deg, #00FF57 50%, #00C4DF 67.55%, #1155C4 89.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal {
  overflow: hidden;
  background: #080A23;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  box-shadow: "0 0 30px 10px #0002";
  color: white;
}
.modal .modalImageContainer {
  position: relative;
  width: 50%;
  height: 100%;
  color: white;
}
.modal .modalImageContainer img {
  width: 100%;
  height: 100%;
}
.modal .modalImageContainer .modalImageText {
  width: 100%;
  text-align: center;
  letter-spacing: 7px;
  font-size: 1.4rem;
  font-weight: 300;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.modal .modalImageContainer .modalImageText .modalImageB {
  font-size: 1.3rem;
  font-weight: 600;
}
.modal .modalImageContainer .modalImageText .modalImageTextTop {
  width: 100%;
}
.modal .modalImageContainer .modalImageText .modalImageTextBottom {
  width: 80%;
}
.modal .modalFormContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.modal .modalFormContainer .modalTitle {
  text-align: left;
  margin-bottom: 30px;
}

.inputText {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.inputText input {
  width: 100%;
  color: #fff;
  font-size: 0.6rem;
  padding: 5px;
}
.inputText input:focus + .lineGradient {
  background-position-x: 50%;
  transition: all 0.2s ease-in-out;
}

.forgotPassButton {
  width: 100%;
  font-size: 0.5rem;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}
.forgotPassButton:hover {
  transform: scale(1.07);
  transition: all 0.1s ease-in-out;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transform: translate(-50%, 100%) !important;
  transition: transform 400ms ease-in-out;
}

.ReactModal__Content--after-open {
  transform: translate(-50%, -50%) !important;
}

.ReactModal__Content--before-close {
  transform: translate(-50%, 100%) !important;
}

.welcomeText {
  width: 700px;
  padding-left: 7%;
  gap: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  height: 90vh;
  letter-spacing: 2px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgotBackArrow {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20px;
  top: 20px;
  transition: transform 100ms ease-in-out;
}
.forgotBackArrow:hover {
  transition: transform 100ms ease-in-out;
  transform: scale(1.2);
}
.forgotBackArrow img {
  width: 50px;
  height: 50px;
}/*# sourceMappingURL=style.css.map */